 {% block footer %}
<!-- footer -->
<footer>
    <div class="container">
        <div class="footerContent">
            <div id="closer" class="clearfix">
                <span>Copyright © <a href="http://www.woodsam.com">Woodson Group</a>, 2015. Powered by </span>
                <a href="http://skystarstudio.com">SkyStar Studio</a></div>
        </div>
    </div>
     <!-- javascript -->
    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- jQuery UI -->
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/customize.js"></script>
    <script src="//www.google-analytics.com/analytics.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</footer>
<!-- footer end -->
{% endblock %}