{% block header %}
<!-- header -->
<header class="container">
    <div class="banner clearfix col-xs-12">
        <img src="/static/images/banner-woodsammer.jpg">
    </div>
</header>
<!-- header end -->
{% endblock %}