<!DOCTYPE html>
<html lang="en">
<head>
    <title>WoodSam - Welcome to the Woodsammer Program</title>
    <meta name="description" content="Welcome to the Woodsammer Program">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Woodsam Woodsammer Program">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <!-- css list -->
    <!-- normalize -->
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">

</head>
<body>
    {% include 'basic/header.html' %}
	<main class="container">
		{% block content %}
		{% endblock %}
            <div class="g-recaptcha" data-sitekey="6LfcmQ0TAAAAADB5iq3TfQcYNiH3VLv0gUOSlnML"></div>
            <br>
            <div>
                <input value="Reset" class="btn btn-primary" type="reset">
                <input value="Submit" class="btn btn-success sbutton" id="submit" type="submit">
            </div>
        </form>
	</main>
	{% include 'basic/footer.html' %}
</body>
</html>