body {
    color: #3d3d3d;
    margin: 0px auto;
    padding: 0px 0px;
    text-align: left;
    background-color: #fff;
    line-height:24px;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight:500;
}

#bodyTag {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight:500;
}
/*global tag styles, don't be scared of these, they are your friend*/
a {
    color: #1884f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#06379d;
}

h1, h2, h3, h4 {
    color:#1884f0;
    font-weight:500;
}

h1 {
	font-size: 29px;
	line-height: 32px;
	padding: 2px 0px 4px 0px;
	margin: 0px 0px 4px 0px;
}

h2 {
	font-size: 22px;
	line-height: 29px;
	padding: 2px 0px 4px 0px;
	margin: 0px 0px 4px 0px;
}
h3
{
	font-size: 18px;
	line-height: 22px;
	padding: 2px 0px 4px 0px;
	margin: 0px 0px 4px 0px;
}
h4
{
    font-weight:700;
}
h5
{
	font-size: 16px;
	line-height: 24px;
    font-weight: bold;
}
h6
{
	font-size: 10px;
	line-height: 12px;
}
ul {
    padding: 0;
}
dd { margin-left: 30px; }
ol { padding-left: 20px; }
main {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}

.banner{
	text-decoration: none;
    overflow:hidden;
    width:100%;
}
.banner img {
    text-decoration: none;
    overflow:hidden;
    width:100%;
}

/*PAGE SETUP*/
.globalWidth
{
    width: 984px;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
}

/*
ÐÞ¸Ä±êÇ©6
Ê¹ÓÃ´øÑÕÉ«µ×É«
*/
.chang_globalWidth
{
	/*background:#3e639a;*/
	
    width: 983px;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
}


#ErrorPanel, #ErrorMsgLabel, .errorLg
{
    font-weight: bold;
    color: red;
}
/* layout styles */
#pageWrap
{
    padding-top:12px;
}
.entityMainContent
{
    float: right;
    width: 740px;
    margin-left:18px;
}
.entityHeader
{
    border-bottom:2px solid #efefef;
}
.productGrid, .subEntityWrap
{
    padding:24px 0px;
}
.productGridPagingWrap
{
    background:#efefef;
    padding:6px 8px;
    font-size:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.productGridNameWrap, .entityPageProdNameCell
{
    font-size:12px;
    margin-bottom:8px;
}
.productGridPriceWrap, .entityPageProdPriceCell
{
font-weight:700;
}
.seoText
{
    float:right;
    width:642px;
}
.store-motto
{
    margin-bottom:32px;
    text-align:center;
}
#emailform
{
    float:left;
    width:260px;
    background: url(email-gradient.gif) repeat-x top left;
    color:#494949;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:24px 18px;
    min-height:100px;
    border:2px solid #CAE787;
    text-align:center;
}
.softHeading
{
    font-size:18px;
    font-weight:500;
}
.inputBox
{
    width:180px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:none;
    padding:3px 6px;
    font-style:italic;
    color:#666;
    border:2px solid #efefef;
}
.inputGo
{
    background:none;
    font-weight:700;
    background: url(bluegradient.gif) repeat-x top left;
   
    border:2px solid #156ecc;
    padding:6px 12px;
    color:#fff;
    border:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}
#searchGo:hover
{
    background:#1E7BFF;
}

.productGridCell
{
text-align:center;
}
.featuredProductCell
{
    text-align:center;
}
.featuredNameWrap
{
    font-size:12px;
    margin-bottom:8px;
}
.featuredPriceWrap
{
    font-weight:700;
    margin-bottom: 18px;
}

/*
ÐÞ¸Ä±ê¼Ç5
*/
.topNavWrapper
{
	/*
    background: url(bluegradient.gif) repeat-x top left;
    */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*
    -moz-box-shadow:    inset 2px 2px 0px #ffffff;
   -webkit-box-shadow: inset 2px 2px 0px #ffffff;
   box-shadow:         inset 2px 2px 0px #ffffff;
   */
   margin:0px 0px 0px 145px;
}
#topNavWrap
{
/*	background:#3e639a;*/
background:e4e4e4;
	height:50px;
}
/*
borderÑÕÉ«ÐÞ¸Ä
*/
#headerWrap
{
	    width:100%;
}

#header
{
    text-align: left;
    position:relative;
}
.headerRight
{
    float:left;
    margin-left:23px;
    padding-left:123px;
}

/*
ÐÞ¸Ä±ê¼Ç1
float£ºleft£»
*/
.header-promo-left
{
    background:url(headerDivider.gif) no-repeat right center;
    float:right;
    width:217px;
    font-size:12px;
    padding-right:18px;
    height: 62px;
    overflow: hidden;
    color:#000;
    font-family:'Roboto', Arial, Helvetica, Sans-Serif !important;
}
.header-promo-left strong, .header-promo-right strong
{
    display:block;
    font-size:18px;
}
.header-promo-right
{
    float:right;
    width:232px;
    height: 62px;
    overflow: hidden;
    color:#000;
    font-size:12px;
    padding-right:18px;
    font-family:'Roboto', Arial, Helvetica, Sans-Serif !important;
}
#bodyWrap
{
    background:#fff;
    padding:24px;
    padding-top:15px;
    -moz-box-shadow: 0px 0px 6px #666;
    -webkit-box-shadow: 0px 0px 6px #666;
    box-shadow: 0px 0px 6px #666;
    margin-bottom:24px;
}
#contentWrap
{
    float: left;
    width: 746px;
    overflow: hidden; /*this is so wide content in the content area doesn't blow out the side in IE6.You can remove this as long as you have good HTML in your content area or don't care about IE6*/
}
#contentBox
{
    margin-bottom:18px;
}
#mainContent
{
    min-height: 450px;
}
#breadcrumb
{
    font-size:11px;
    color:#999;
}

/* grid setup */
/* clear fix */
.clearfix:after, .colwrap:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix:after, * html .colwrap { zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .colwrap { zoom: 1; } /* IE7 */

/* end clear fix */
.onehalf
{
    width: 475px;
}
.onethird
{
    width: 310px;
}
.twothirds
{
    width: 645px;
}
.onequarter
{
    width: 235px;
}
.threequarters
{
    width: 740px;
}
.onefifth
{
    width: 185px;
}
.onehalf, .onethird, .twothirds, .onequarter, .threequarters, .onefifth
{
    margin-left: 23px;
    margin-bottom:23px;
    display: inline; /*ie6*/
    float: left;
}
.onehalf:first-child, .onehalf.first,
.onethird:first-child, .onethird.first,
.twothirds:first-child, .twothirds.first,
.onequarter:first-child, .onequarter.first,
.threequarters:first-child, .threequarters.first
.onefifth:first-child, .onefifth.first
{
    margin-left: 0px;
}
.onehalf img, .onethird img, .twothirds img, .onequarter img, .threequarters img, .onefifth img
{
    margin-bottom: 12px;
}
/* end grid setup */

.searchGo:hover
{
    background-position: bottom left;
}



/*HEADER ELEMENTS*/
#logo
{
    text-decoration: none;
    position:absolute;
    width:137px;
    top:3px;
    margin-left:-18px;
}
.visual-nav
{
    padding-top:15px;
    background:#3e639a;
}
#login
{
    float: right;
    padding-bottom: 10px;
}
#accountLinks
{
    text-align: left;
    float: right;
    padding-left:12px;
    padding-right:12px;
    background:url(headerDivider.gif) no-repeat center left;
    width:345px;
    min-height:61px;
}
.simpleCartLinks
{
    float:right;
    width:127px;
    font-size:12px;
    color:#ffffff;
    padding-top:18px;
}
.simpleCartLinks a
{
    color:#ffffff;
}

.simpleCart
{
    float:right;
    color:#fff;
    font-weight:700;
    font-size:12px;
    background:#000;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.cartItems
{
    background: url(cartIcon.gif) no-repeat left center;
    padding-left:18px;
}
.cartNumber
{
    background:#2699FF;
    border:2px solid #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color:#fff;
    padding:0px 4px;
    line-height:16px;
}
a.checkoutLink
{
     background: url(bluegradient.gif) repeat-x top left;
     border:2px solid #156ecc;
     padding:2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#fff;
}
#brandwrap
{
    text-align: center;
    padding: 5px;
    margin: 0 0 10px 0;
}

.category-Links
{
    float:left;
    width:591px;
}
.category-Links a
{
    display:block;
    float:left;
    width:98px;
    text-align:center;
    color:#000;
    font-weight:700;
    font-size:13px;
    margin-bottom:8px;
}
.promo-right
{
    float:right;
    border:1px solid #ccc;
    text-align:center;
    margin-left:18px;
}

/*HORIZ NAV*/
#horizNav
{
	padding-bottom:18px;
}
#horizLinks
{
    padding:4px 0px;
    padding-left:0px;
    height:24px;
    overflow:hidden;
}
#searchWrap
{
    line-height: 0px; /*fixes the form alignment without floats*/
    padding:2px 4px;
    margin-top:15px;
}
#searchBox
{
    width:148px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:none;
    padding:3px 6px;
    font-style:italic;
    color:#666;
  
}
#searchGo
{
   background:#fff;
    font-weight:700;
    border:2px solid #217BBA;
    color:#000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}
#searchGo:hover
{
    background:#1E7BFF;
}
#SiteMap1
{
    font-size: 10px;
}
#SiteMap1 td
{
    padding: 0px;
}
.SiteMapLeafNode
{
    padding: 3px 0px;
}
/*<<<<<<<<<<<<<<<<<   Top Horizontal Navigation   >>>>>>>>>>>>>>>>*/
.nav,.nav ul
{
    background:#fff; 
    list-style:none;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, Sans-Serif;
}
.nav a
{
    display:block;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    font-size:12px;
}
.nav li
{
    border-right: 1px solid #e8eff6; 
    padding: 0 20px;
    float:left;
}
.nav a:hover {color:#ade2ff;}
.nav a.selected{}
.nav li.last {border-right: none;}

.nav li ul
{
    border:solid 2px #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:absolute;
    display:none;
    z-index: 200;
    padding:8px 0px;
}
.nav li li 
{
    width:200px;
    display:block;
    clear:both;
    height:auto;
    border:none;
}

.nav li li a 
{
    font-size: 12px;
    line-height:14px;
    padding:4px 5px; 
    color:#1884f0;
    font-family:'Roboto', Arial, Helvetica, Sans-Serif;
    font-weight:400;
}
.nav li li a:hover 
{
    color:#fff; 
    background:#628ac5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
/* don't mess with this */
.nav li ul ul{margin:-22px 0 0 100%;}
.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li.sfhover ul ul, .nav li.sfhover ul ul ul{display:none;}
.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li.sfhover ul, .nav li li.sfhover ul, .nav li li li.sfhover ul{display:block;}

/* Content Carousel */
.carouselWrapper 
{
    background:#fff url(carousel-shadow.jpg) no-repeat bottom center;
    padding-bottom:24px;

    }
#faderContainer {height: 427px;position: relative;    
                 -moz-box-shadow:    0px 0px 3px  #ccc;
    -webkit-box-shadow:   0px 0px 3px  #ccc;
    box-shadow:           0px 0px 3px  #ccc;
    text-align:center;
    }
#fader{height: 383px;}
#faderControls{}
#faderButtons{font-weight: bold;color: #fff;font-size: 20px; }
#faderButtons div {text-align: center; display:inline-block; cursor: pointer;margin:0px 4px;}
.buttonsover {color:#333; background:#a2e90b; border:3px solid #81b11c;-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;padding:2px 22px;}
.buttonslax {color:#999; background:#d6d5d5;border:3px solid #d6d5d5;-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;padding:2px 22px;}
.faderbuttonsize {background-repeat: no-repeat; background-attachment: scroll; background-position: left top; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;}

.product-item{ overflow:hidden; display:none;}
.per-items{ display:inline-block; width:24.9%; float:left;height:300px;}
.per-items .picture{position:relative; margin:0 15px; display:block; margin:0 15px; margin-top:25px;}
.per-items .picture img{width:100%;}
.per-items .item-desc{ text-align:left; font-size:12px; line-height:14px;}
.per-items .new{width: 46px;
height: 48px; background:url(new.png) no-repeat center; position:absolute; top:0; right:0;}



/* FOOTER */
#footer
{
    background:#e8eff6 url(footerTop.gif) repeat-x top left;
}
.footerContent {
    padding-top: 40px;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 20px;
    color: #999999;
}
.footerContent a
{
    color:#000;
}
.footerContent ul {
    float: left;
    font-size: 13px;
    width: 167px;
    list-style-type: none;
    padding-left: 18px;
}
.footerHeading
{
    font-weight:700;
}
.footerContent ul:first-child
{
    padding-left:0px;
}
#closer
{
    text-align:center;
    padding-bottom:15px;
    padding-top:24px;
}
/*---------Left Navigation---------*/
#featuredProductsWrap
{
margin-bottom:32px;
}
.homeCats
{
    float:left;
    width:239px;
    height:inherit;
    min-height:425px;
    margin-bottom:24px;
}
.homeCats ul
{
    list-style-type:none;
    margin:0px 0px 14px 0px;
    padding:0px;
}

.leftNav
{
    float:left;
    width:240px;
}

#mainContentWrap
{
    float:left;
    width:671px;
    margin-left:23px;
    padding-top:12px;
}
.leftNav ul
{
    list-style-type:none;
    margin:0px 0px 14px 0px;
    padding:0px;
}
.basic-left-nav h3
{
    background: url(bluegradient.gif) repeat-x top left;
    -moz-box-shadow: inset 2px 2px 0px #217bba;
    -webkit-box-shadow: inset 2px 2px 0px #217bba;
    box-shadow: inset 2px 2px 0px #217bba;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color:#fff;
    padding:8px 12px;
    margin-bottom:0px;
}
.basic-left-nav ul
{
    border: 2px solid #2184FF;
    background: #2184FF;
}
.basic-left-nav a
{
    color:#fff;
}
.basic-left-nav ul
{
    padding:12px;
    padding-top:8px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    /*min-height:400px;*/
}
.leftNav li
{
    font-weight:700;
}
.leftNav ul ul
{
    font-size:12px;
    margin-bottom:0px;
}
.basic-left-nav ul ul
{
    padding:8px 0px 8px 12px;
    border:none;
    min-height:auto;
}
.leftNav ul.subMenu
{
    padding-left:12px;
}
.leftNav ul.subMenu li
{
    font-weight:400;
}

/* CATEGORY PAGE  */
#CategoryPage{padding-right: 5px;}
#categorypageh1{padding-left: 5px;}
#categorydescription{padding-left: 5px;}
#categorydescription img {padding: 0 10px 5px 0;}
#SearchSelected {padding-left: 5px;}


#ProductTable{}
.ProductGridCell {text-align: center;}
.ProductGridCellDiv {}
.ProductCellImage {margin-bottom: 5px;}
.ProductCellImage img {}
.ProductCellTitle {margin-bottom: 8px; font-size:12px;}
.ProductCellTitle a {}
.ProductCellPrice {margin-bottom: 18px;}
#ProductCellPriceTable {}

#ProductCellPriceTable .MSRP {text-decoration: line-through;}
#ProductCellPriceTable .OurPriceText {font-weight: bold;font-size: 14px;}
#ProductCellPriceTable .PriceOut {text-decoration: line-through;}
#ProductCellPriceTable .SalePriceText {color: red;font-weight: bold;font-size: 14px;}
#ProductCellPriceTable  {}


/* reductive sidebar syles */
#ReductiveNav
{
   border: 2px solid #3799fc;
background: #3799fc url(etekNavBg.png) repeat-x top left;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
min-height:400px;
 padding:18px;
  -moz-box-shadow: 0px 0px 3px #666;
  -webkit-box-shadow: 0px 0px 3px #666;
  box-shadow: 0px 0px 3px #666;
  color:#fff;
}
.reductive-nav-Heading
{
    font-size:18px;
}
#ReductiveNav a{color:#fff;}
#SearchHeader{}
#SearchUnselected {padding-top: 3px;}
.sectionheader{font-size: 16px;display:block; border-bottom:1px solid #ccc;padding-bottom:4px; margin-bottom:2px;}
.reductiveHeading
{
    border-bottom:none;
}
.CatBlock{line-height: 13px;}
#allSelections
{
  background:#fff;
  border:1px solid #ccc;
  padding:12px;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:18px;  
    }
#allSelections br
{
    display:none;
}
#YouHaveSelected{color:#333;}
#youveselected{color:#333;}
#youveselected a {color:#1884f0;}
#startover{padding-top: 2px;}
#ReductiveNav #RemoveAllSelections{}
#ReductiveNav .nav-section{line-height: 13px;margin: 5px 3px;}
.fullwidth {}
.nav-sublevel {margin: 0px 3px;padding-top: 6px;}
#RNsearchBox {width: 158px; height: 25px; font-size: 12px; line-height: 25px; padding: 0px 5px;border: 0; margin:0;vertical-align: middle; border:1px solid #ccc;}
#RNsearchGo 
{
    color:#fff;
    cursor: pointer;
    width: 30px; 
    line-height: 25px;
    height: 26px; 
    padding: 0; 
    border:0; 
    margin:0; 
    background:#89c900 url(CustomIMages/shadow.png) repeat-x top left;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    vertical-align: middle;
    border:1px solid #89c900;
}
#RNsearchGo:hover 
{
    background:#89c900 url(CustomIMages/glow.png) repeat-x bottom left;
}

/* reductive breadcrumb syles */
#allSelectionsbc{padding-bottom: 3px;}
#SearchSelected {padding-left: 5px;}
#allSelectionsbc .nav-section{border-right: 1px solid black;}


/* PRODUCT PAGE */

.addToCartWrap
{
    margin-bottom:18px;
}

/*tab setup*/
.tabberWrapper
{
    margin-bottom:18px;
}
ul.tabbitTabs, .tabbitTabs li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tabbitTabWrap ul
{
    margin-left:24px;
}
.tabbitTabs
{
    border-bottom: solid 1px #ccc;
}
.tabbitTabs li
{
    display: inline;
    line-height: 32px;
    font-size: 14px;
}
.tabbitTabs li a
{
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    background: #ddd;
    border: solid 1px #ccc;
    border-bottom: none;
    margin-bottom: -2px;
    color: #666;
    outline: none;
    font-size:14px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tabbitTabs li a:hover
{
    background: #fff;
}
.tabbitTabs a.state-active
{
    background: #fff;
    cursor: default;
}
.tabbitTabWrap
{
    padding: 18px;
    border: solid 1px #ccc;
    font-size:12px;
    border-top: none;
    line-height:24px;
    min-height:300px;
}
.tabbitTabWrap .state-default
{
    display: none;
}
.tabbitTabWrap .state-active
{
    display: block;
}
.stockIndicator
{
}
.productName
{

}
 h1.productName
{
    font-size:24px;
    line-height:32px;
    margin-bottom:0px;
}
.manufLogo
{
    float:right;
    width:138px;
    height:150px;
    padding:8px 0px 0px 30px;
    position:absolute;
    right:0px;
    top:-24px;
    right:-50px;
    background: url(manufFlag.png) no-repeat top right;
}
.productPageTop
{
    position:relative;
}
.recentlyViewed img
{
    width:70px;
    border:none;
}
.shippingEstimator
{
    margin-bottom:18px;
    padding:18px;
    background:#efefef;
    border:1px solid #ccc;
}
.recentlyViewedName a, .recentlyViewedName
{
    font-size:11px;
    line-height:14px;
}
.recentlyViewed .StockHint
{
    font-size:11px;
    line-height:14px;
}
#recentlyViewed h5
{
    border-bottom:1px dotted #efefef;
    font-size:16px;
}
#relatedProducts
{
    margin-bottom:18px;
}
#relatedProducts h3
{
    border-bottom:1px solid #efefef;
}
.manufLogo img
{
    width:125px;
}
.productImageWrap
{
    width:350px;
    float:left;
}
.SalePriceText
{
    color:Red;
    font-weight:bold;
}
.OurPriceText
{
    font-size:14px;
    font-weight:bold;
}
.productName
{
    border-bottom:2px solid #efefef;
}
.productSummary
{
    font-size:13px;
    line-height:22px;
    padding-bottom:18px;
}
.productInfo
{
    float:left;
    margin-left:18px;
    width:566px;
}
.productOptions
{
    padding-top:24px;
}
.productShareWrap
{
    padding-bottom:18px;
    position:absolute;
    left:-50px;
}
.productPageBottom
{
    width:935px;
}
#productPriceWrap
{
    font-size:20px;
    position:relative;
    margin-bottom:12px;
}
#productPriceWrap .RegularPrice
{
    font-size:12px;
}
.combinePurchase
{
    position:relative;
}
.StockHint_InStock
{
    color:#6d8e01;
    font-weight:500;
}
.headingBar
{
    text-align:center;
    background:url(headingLine.gif) repeat-x center center;
}
.headingBar h2, .headingBar h3
{
    display:inline-block;
    padding:0px 10px;
    background:#fff;
    font-size:16px;
}
.headingBar h3
{
    font-size:22px;
}
.combinePurchaseCarrot {
    position: absolute;
    top: 0px;
    left: -65px;
    width: 80px;
    height: 100px;
    background: url(thoughtBubbles.png) no-repeat top left;
}

.combinePurchaseWrapper
{
   
    margin-bottom:24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #ccc;
    -moz-box-shadow: 0px 0px 4px 0px #ccc;
    -webkit-box-shadow: 0px 0px 4px 0px #ccc;
    box-shadow: 0px 0px 4px 0px #ccc;
    padding-top:18px;
    position:relative;
    z-index:1100;
    padding:18px;
}
#shippingEstimatorTab
{
    background:#;
}
.priceWrap
{
    font-size:16px;
    position:relative;
    font-weight:700;
    padding:12px 0px 4px 0px;
}
.varMSRP
{
    text-decoration: line-through;
}
.productSKU
{
    font-size:12px;
    font-style:italic;
}
.salePriceWrap
{
    color:Red;
    float:left;
    width:200px;
}
.varPrice
{
}
.savingsWrap
{
font-size: 18px;
float: left;
color: white;
background: url(savings.gif) no-repeat top left;
width: 85px;
height: 63px;
padding-top: 25px;
text-align: center;
font-weight: 700;
position: absolute;
left: 155px;
top: 10px;
padding-left: 8px;
}
.savingsNumber
{
    color:#ffffff;
}

/*------------------------------------------------------------*/

/* indented class variation for stock hint display  */
.StockHint_Indented_OutOfStock{color:red;}
.StockHint_Indented_InStock{color:blue;}

/* CSS for productratings [begin]  */
.CommentHelpfulText{font-family:Arial,Helvetica;color:#099;}

/******  CSS for Checkout GiftCard [begin]  */
.CheckoutEmailGiftCardHeader{background-color:#ccc;color:#000;}

/******  CSS for Checkout Terms And Conditions [begin]  */
.CheckOutTermsBorder{border-color:#000;border-style:dashed;border-width:1px;}


/*flags*/
.flagWrap {height: 26px; background-position: top left; margin: 0 10px 3px;color: #fff; background: url(glow.png) repeat-x top left;}
.flag_clearance {background-color: #001a64;}
.flag_featured {background-color: #3C5089;}
.flag_free-shipping {background-color: #5D6421;}
.flag_sale {background-color: #CC0000;}
#flagsUnselected {display: none;}

.upsellimg {padding-bottom: 3px;}
.upsellcheck {padding: 5px 0 20px;}
.upsellname {font-weight: bold; padding: 5px 0;}

/*CA Search*/

.clearFloats
{
	clear: both;
}
a:active
{
	outline: none;
}
.caSearchContentContainer
{
	width: 95%;
}
.caSearchContentContainer .clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.caSearchContentContainer .clearfix {display: inline-block;}
/* Hides from IE5/Mac \*/
* html .caSearchContentContainer .clearfix {height: 1px;}
.caSearchContentContainer .clearfix {display: block;}
/* End hide from IE5/Mac */

/* ----- Search Box */
.caSearchContainer
{
	width: 100%;
	border: solid 1px #cccccc;
	margin: 5px 0 10px;
	font-size: 12px;
	font-family: Arial;
	color: #000000;
	min-width: 500px;
}
.caSearchContainer .searchHeader
{
	background-color: #f2f2f0;
	padding: 3px;
}
.caSearchContainer .searchHeader .caSearchBox
{
	width: 60%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	border: solid 1px #e7e7e5;
	background-color: #ffffff;
	padding: 2px 0 2px 5px;
	float: left;
}
.caSearchContainer .searchHeader input.caSearchTextBox
{
	border: 0px;
	width: 75%;
	padding: 4px 2px;
	display: block;
	float: left;
	color:#666666;
	height: 25px;
}
.caSearchContainer .searchHeader .searchButton
{
	float: right;
	border-left: solid 1px #eeeeee;
	margin: 2px 0;
	width: 20%;
	padding-left: 4px;
}
.caSearchContainer .searchHeader .searchButton input
{
	display: block;
	background: transparent url(CustomIMages/magnifier.png) no-repeat scroll 95% 50%;
	text-align: left;
	color: #848484;
	cursor: pointer;
	text-decoration: none;
	border: solid 1px transparent;
	width: 100%;
	outline: 0;
}
.caSearchContainer .searchHeader .searchButton input:focus,
.caSearchContainer .searchHeader .searchButton input:active
{
	outline: 0;
}
.caSearchContainer .searchHeader .showHideFilters
{
	float: right;
	margin: 8px 4px 0 0;
}
.caSearchContainer .searchHeader .showHideFilters a
{
	color: #333333;
	display: block;
	line-height: 18px;
	font-size: 11px;
	cursor: pointer;
	background: transparent url(CustomIMages/plus.gif) no-repeat scroll 100% 50%;
	padding: 0 10px 0 0;
	text-decoration: none;
}
div.open .searchHeader .showHideFilters a
{
	background: transparent url(minus.gif) no-repeat scroll 100% 50%;
}
.caSearchContainer .searchHeader .showHideFilters a:hover
{
	text-decoration: underline;
}
.caSearchContainer .searchHeader .showHideFilters a em
{
	color: #3366cc;
	font-weight: bold;
	font-style: normal;
}
.caSearchContainer .searchFilters
{
	display: none;
	padding: 5px;
}
div.open .searchFilters
{
	display: block;
}
.caSearchContainer .searchFilters  input.filterButton
{
	color: #848484;
	cursor: pointer;
	text-decoration: none;
	border: solid 1px #eeeeee;
	background-color: transparent;
}
.caSearchContainer .searchFilters .filterTextbox input
{
	border: solid 1px #eeeeee;
}
/* ----- View Type */
.caViewTypeContainer
{
	min-width: 500px;
	margin: 10px 0 0;
}
.caViewTypeContainer ul
{
	margin: 0;
	padding: 0;
}
.caViewTypeContainer li
{
	display: block;
	float: left;
	margin: 0 0 0 4px;
	background-color: #f2f2f0;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}
.caViewTypeContainer li a
{
	padding: 2px 2px 0px 2px;
	display: block;
	width: 18px;
	height: 14px;
}
.caViewTypeContainer li.grid a
{
	background: transparent url(customImages/gridIcon.gif) no-repeat scroll 50% 90%;
}
.caViewTypeContainer li.stacked a
{
	background: transparent url(customImages/stackedIcon.gif) no-repeat scroll 50% 90%;
}
.caViewTypeContainer.grid li.stacked,
.caViewTypeContainer.stacked li.grid
{
	background-color: #cccccc;
}
/* ----- Sort Box */
.caSortContainer
{
	width: 100%;
	background-color: #f2f2f0;
	font-size: 11px;
	font-family: Arial;
	color: #000000;
	min-width: 500px;
}
.caSortContainer label
{
	display: inline;
}
.caSortContainer select
{
	display: inline;
	border: solid 1px #e7e7e5;
	font-size: 11px;
	font-family: Arial;
}
.caSortContainer .sortBy
{
	float: left;
	padding: 5px;
}
.caSortContainer .itemsPerPage
{
	float: right;
	padding: 5px;
}
.caSortContainer .paging
{
	float: right;
	padding: 5px;
}
.caSortContainer .paging ul
{
	margin: 0;
	padding: 0;
}
.caSortContainer .paging li
{
	display: inline;
	padding: 0 2px;
}
.caSortContainer .paging li a
{
	display: inline;
	background-color: #ffffff;
	border: solid 1px #e7e7e5;
	text-decoration: none;
	padding: 1px 4px;
	color: #3366cc;
}
.caSortContainer .paging li a:hover,
.caSortContainer .paging li a:active,
.caSortContainer .paging li a:focus
{
	border: solid 1px #3366cc;
}
.caSortContainer .paging li label
{
	color: #333333;
}
/* ----- Search Results */
.gridResults
{
	padding-top: 40px;
}
.stackedResults
{
	padding: 20px 0 20px;
}
.gridResults .searchResult
{
	width: 150px;
	height: 250px;
	float: left;
	padding: 5px 8px 5px 0;
}
.stackedResults .searchResult
{
	padding: 5px 8px 5px 0;
}
.caResultsContainer .productImage img
{
	border: 0px;
	height: 120px;
}
.stackedResults  .productImage
{
	border: 0px;
	height: 120px;
	float: left;
	margin-right: 20px;
}
.stackedResults  .productInfo
{
	border: 0px;
	float: left;
	width: 500px;
	margin-bottom: 10px;
}
.gridResults  .productDescription
{
	display: none;
}
.caResultsContainer .productTitle a
{
	text-decoration: none;
	color: #333333;
	line-height: 102%;
	padding-bottom: 6px;
	display: block;
	font-weight: bold;
}
.caResultsContainer .productTitle a:hover
{
	text-decoration: underline;
}
.caResultsContainer .productPrice span
{
	color: #C7202B;
	line-height: 102%;
	display: block;
	font-weight: bold;
}


.AddToCartButton
{
    background:#fe6d00 url(glow.png) repeat-x top left;
    border:2px solid #fe6d00;
    margin-top:18px;
         font-family:'Roboto', Arial, Sans-serif;
     font-weight:700;
     font-size:16px;
     line-height:26px;
        cursor:pointer;
      -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
     padding:6px 20px;
    color:#fff;
     font-weight:700;
}

.AddToCartButton:hover
{
    background:#fe6d00 url(shadow.png) repeat-x bottom left;
}

.AddToWishButton
{
    border:none;
    background:none;
    cursor:pointer;
    margin-top:18px;
    height:40px;
    color:#666666;
}
.AddToWishButton:hover
{
    color:#333; 
}

#accordion .ui-accordion-header-icon { text-indent: 0 }


/*BUTTONS*/

.ContinueShoppingButton, .MoveToCartButton, .UpdateGiftButton, .UpdateWishButton, .CartDeleteButton, .CheckoutNowButton, #btnContinueShoppingTop, #btnContinueShoppingBottom, .UpdateCartButton, .GiftRegistrySearchButton, #btnUpdateRegistryItems
{
     font-family:'Roboto', Arial, Sans-serif;
     font-weight:700;
        cursor:pointer;
      -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
     padding:6px 20px;
    color:#fff;
     font-weight:700;
}

.UpdateWishButton, .CartDeleteButton, #btnContinueShoppingTop, #btnContinueShoppingBottom, .UpdateCartButton, .GiftRegistrySearchButton, .UpdateGiftButton
{
    
    background: #efefef url(CustomIMages/glow.png) repeat-x bottom left;
    border:1px solid #ccc;
    text-shadow:1px 1px #fff;
     padding:2px 12px;
     line-height:30px;
    color:#333;
}

.UpdateWishButton:hover, .CartDeleteButton:hover, .UpdateCartButton:hover, #btnContinueShoppingTop:hover, #btnContinueShoppingBottom:hover, .GiftRegistrySearchButton:hover, .UpdateGiftButton:hover
{
    color:#666;
}

.ContinueShoppingButton, .MoveToCartButton, .CheckoutNowButton, #btnUpdateRegistryItems
{
    background:#fe6d00 url(glow.png) repeat-x top left;
    border:2px solid #fe6d00;
    font-size:16px;
    text-shadow:1px 1px #E56709;
    padding:8px 12px;
    color:#ffffff;
} 
.ContinueShoppingButton:hover, .MoveToCartButton:hover, .CheckoutNowButton:hover, #btnUpdateRegistryItems:hover
{
    color:#ffede0;
}

.desc-title { line-height:50px; font-size:28px; border-top: 7px double #ccc; }
.desc-title .container {
    background-color: #e8eff6;
    float: right;
    position: fixed;
    right: 3%;
    top: 50px;
    width: 15%;
}

.desc-title .link {
    border-radius: 14px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { background-color: #003366; }

.nav a,
.nav a:hover { color: #003366; }

.nav a:hover { background-color: #e8eff6; }
.nav.nav-pills { margin-bottom: 20px; }

.sub-title{ font-size:24px; padding-left:20px; line-height:40px; margin-top:10px;background: #e8eff6;color:#003366; overflow:hidden;}
.note{font-size:16px;color:#e95c16;font-family:Arial; padding-left:20px; overflow:hidden;}
.sub-title_2{font-size:16px; padding-left:20px; line-height:20px; margin-top:10px;background: #e8eff6;color:#003366; overflow:hidden;}
.sub-title span{float:right; font-size:14px; font-weight:normal; padding-right:15px;}
.tip-desc{ font-size:12px;padding-bottom:10px;font-family: Arial, Helvetica, sans-serif;color: #666;margin-bottom:10px;}
.tip-desc span{color: #D51729;}

.product-show{
	overflow:hidden;
	zoom:1;
	padding:0;
	margin-top:20px;
}

.product { min-height:350px; list-style: none; }

.faq-title { text-decoration: none; color: #003366; }
.faq {margin-left:15px;}
.faq dt{ background:url(addico.gif) no-repeat left center; font-size:16px; font-weight:bold; padding-left:15px; margin:5px 0;}
.faq dt.click{ background:url(subductionico.gif) no-repeat left center;color: #00A0E9;}
.faq dd{ font-size:12px;padding-left:10px; display:none;}

.faq dd li{
	list-style-type:circle;
	margin-left:20px;
	}
	
.faq dd b{font-size:16px;}

.pro_img{
	width:14px;
	height:14px;
	}
/*.tips{
	font-size:12px;
	padding-bottom:10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	margin-bottom:10px;
	padding-left:10px;
	}*/
.tips fieldset { margin-left: -30px; }
.tips.click{ font-size:12px;padding-left:10px;}


fieldset { margin-top: 7px; }

fieldset input[type=text],
fieldset input[type=email] { width: 70%; }

#interest_other, #website_other { margin-right: 15px; width: 30%; }
.form label{ display:inline-block; color:#156ecc; text-align: right; }
	 	
.form p span{ color:#156ecc; }
.form .PU_notice{ color:red; }
.form p span.red{ padding-left:8px; display:inline-block; color:red;}
.form input.checkbox{
    float: left;
    margin-right: 5px;
}
span.red{ padding-left:8px; display:inline-block; color:red;}
.form *{vertical-align:middle;}
.form p input.rbutton{ border-radius:8px; width:100px; text-align:center; line-height:24px; color:#fff; font-weight:bold; background:#156ecc;}
.form p input.rbutton:hover{ opacity:0.5;}
.form p input.sbutton{ background:#060; margin-left:25px;}
.s-f-m-title{ font-weight:bold; font-size:16px; padding-top:25px;}
.inputBg{width:auto !important;}

body{ background:#ffffff !important;}
#product-show-title{
	display:block;
	height:60px;
	width:984px;
	padding:0;
}
#product-show-title li{
	margin:0;
	width:104px;
	height:60px;
	float:left;
	line-height:60px;
	font-size:16px;
	font-weight:600;
	text-align:center;
	background:rgb(100,100,100);
	background:-webkit-gradient(linear, left top, left bottom, from(rgb(180,180,180)), to(rgb(100,100,100)));
	background:-moz-linear-gradient(top, rgb(180,180,180), rgb(100,100,100));
	background:-o-linear-gradient(top, rgb(180,180,180), rgb(100,100,100));
	background:-ms-linear-gradient(top, rgb(180,180,180), rgb(100,100,100));
	margin:0;
	padding:0;
	cursor:pointer;
	margin-left:5px;
	-moz-box-shadow:1px 1px 1px  #000;              
    -webkit-box-shadow:1px 1px 1px  #000;           
    box-shadow:1px 1px 1px  #000;
}
#product-show-title li:first-child{
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	margin:0;
}
#product-show-title li:last-child{
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	
}
#product-show-title li a{
	text-decoration:none;
	color:#000;
	font-weight:100;
	font-size:15px;
}
#product-show-title .active a{
	color:#1884f0;
}
#product-show-title li:hover a{
	text-decoration:none;
	color:#1884f0;
}

