{% extends 'basic/main.html' %}

{% block content %}
<form id="consumer-form" method="post" action="/member_submit/">
{% csrf_token %}
<ul class="nav nav-pills">
    <li class="active"><a href="/">New Customer's Form</a></li>
</ul>
<h2 class="sub-title">
    Free Product Request Form (Member Only)
</h2>
<div class="form">
    <p>The fields marked <font color="red">*</font> are required. If you encounter any difficulties during submitting the application, please contact <a href="mailto:woodsammer@woodsam.com">woodsammer@woodsam.com</a> for help</p>
    <br>
    <fieldset>
        <label class="col-sm-3">First Name:</label>
        <div class="col-sm-9">
            <input name="first_name" type="text">
            <span class="red">*</span>
            <span id="first_name_submit_error" class="ErrorText"></span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Last Name:</label>
        <div class="col-sm-9">
            <input name="last_name" type="text">
            <span class="red">*</span>
            <span id="last_name_submit_error" class="ErrorText"></span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Woodsammer ID:</label>
        <div class="col-sm-9">
            <input name="woodsammer_id" type="text">
            <span class="red">*</span>
            <span id="email_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Product ID:</label>
        <div class="col-sm-9">
            <input name="product_id" type="text">
            <span class="red">*</span>
        </div>
    </fieldset>
    <br>
    <h5>Shipping Address:</h5>
    <fieldset>
        <label class="col-sm-3">Address Line 1:</label>
        <div class="col-sm-9">
            <input name="address_line_1" type="text">
            <span class="red">*</span>
            <span id="address_1_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Address Line 2:</label>
        <div class="col-sm-9">
            <input name="address_line_2" type="text">
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">City:</label>
        <div class="col-sm-9">
            <input name="city" type="text">
            <span class="red">*</span>
            <span id="city_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">State/Province:</label>
        <div class="col-sm-9">
            <input name="state" type="text">
            <span class="red">*</span>
            <span id="state_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">ZIP:</label>
        <div class="col-sm-9">
            <input name="zipcode" type="text">
            <span class="red">*</span>
            <span id="zip_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
</div>
<br>
{% endblock %}