{% extends 'basic/main.html' %}

{% block content %}
<form id="consumer-form" method="post" action="/new_submit/">
{% csrf_token %}
<ul class="nav nav-pills">
    <li class="active"><a href="#faq">Go To FAQ</a></li>
    <li><a href="/member">Free Product Request Form (Member Only)</a></li>
</ul>
<div>
    <ul class="product-list row">
        {% for product in products %}
        <li class="product clearfix col-xs-3">
            <div class="product-thumbnail">
                <a href="{{ product.url }}" class="thumbnail">
                    <!-- <p class="new_pro_mark">
                        <img src="/static/images/new_pro_mark.png">
                    </p> -->
                    <img src="{{ product.image.url }}">
                </a>
                <a href="{{ product.url }}">
                    <h5 class="product-desc">
                        <span>{{ product.title }}</span>
                        <br>
                        <span>Product ID: {{ product.product_id }}</span>
                    </h5>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="description-product">
    <dl class="introduction">
        <dt>
            <h1 class="sub-title">Introduction:</h1>
        </dt>
        <dd>
            <p>Thank you so much for your interest in the Woodsammer Program. Sometimes, things can sound “too good to be true”; however in this case, it’s too good AND it’s true!</p>
            <p>Customer satisfaction is our number one priority and goal at Woodsam. We are constantly growing and enhancing our lines of products, as well as our level of customer service. In order to learn more about our customers’ needs, we require outside opinions and reviews. That’s where the Woodsammer Program comes into play!</p>
            <p>When you become a Woodsammer, you will be sent a free product straight to your home so that you could provide an honest review for it. After we receive the review, you are then eligible to receive even another product to provide feedback for!</p>
            <p>Please take the time to review every detail about the program before choosing to submit your application.</p>
        </dd>
    </dl>
    <dl class="program-details">
        <dt>
            <h1 class="sub-title">Program Details:</h1>
        </dt>
        <dd>
            <dl>
                <dt><h5>1.  Program Benefits:</h5></dt>
                <dd>
                    <ol type="a">
                        <li>For 1 product a month (maximum of 6 products a year), you can apply to choose a product from the available batch of items to be sent to you free of charge, so that you could provide an honest review for us.</li>
                        <li>
                            <dl>
                                <dt>Review what product you choose from the available batch:</dt>
                                <dd>
                                    <ol type="i">
                                        <li>Batch will be refreshed once every month.</li>
                                        <li>Batch will include current, new, or popular items.</li>
                                        <li>You don’t need to choose a product if the current batch does not interest you. You can wait for the next monthly batch of eligible products!
                                    </ol>
                                </dd>
                            </dl>
                        </li>
                        <li>One review unlocks the eligibility for the next free product.</li>
                    </ol>
                <dd>
                <dt><h5>2.  Eligibility:</h5></dt>
                <dd>
                    <ol type="a">
                        <li>Must be a resident of the United States. This excludes Alaska, Hawaii, and the U.S. Protectorates.</li>
                        <li>Must have an Amazon.com account. Established product reviewers or bloggers are a plus!</li>
                        <li>Must have already left an Amazon.com review of the very first product review you purchased from us.</li>
                        <li>All rights in determining the approval of an applicant are maintained by Woodsam.</li>
                    </ol>
                </dd>
                <dt><h5>3.  Responsibilities:</h5></dt>
                <dd>
                    <ol>
                        <li>Once product is received, constructive and honest feedback should be received on the Amazon.com Product Page.</li>
                        <li>Contact woodsammer@woodsam.com for any assistance.</li>
                </dd>
            </dl>
        </dd>
    </dl>
</div>
<h1 class="sub-title">
    <a id='faq' class="faq-title">FAQ:</a>
</h1>
<div id='accordion' class="faq">
    <h2>What do I get from being a Woodsammer?</h2>
    <div>
        <ul>
            <li>
                <p>Free products of course! As long as you provide honest and constructive reviews for our items, we can send you up to 6 products of your choosing, every year!<p>
            </li>
        </ul>
    </div>
    <h2>What is an honest and constructive review?</h2>
    <div>
        <ul>
            <li>
                <p>
                    When you receive the product, use it for a while and just let us know what you think on the Amazon Product Page. It’s simple; just be honest and true. Say whatever you wish to say because that’s how we can improve our services for you!
                </p>
            </li>
        </ul>
    </div>
    <h2>How do I get my free product?</h2>
    <div>
        <ul>
            <li>
                <p>Just make sure you have an Amazon.com account and that you’ve already left a review of the very first product you have purchased from us.</p>
            </li>
            <li>
                <p>Then simply fill out the application. Once we’ve approved the application, we will send you a unique Woodsammer ID.</p>
            </li>
            <li>
                <p>You may then proceed to the Free Product Request Form to complete that as well. We’ll take care of the rest and send you the item as well as a tracking #.</p>
            </li>
        </ul>
    </div>
    <h2>How do I find the Amazon Product Page to review the item? </h2>
    <div>
        <ul>
            <li>
                <p>If the image of the product you received is still on the available monthly batch of this webpage, then simply click on the image and it will lead you to the Amazon Product Page.</p>
            </li>
            <li>
                <p>If you cannot find the page, please contact woodsammer@woodsam.com for assistance.</p>
            </li>
        </ul>
    </div>
    <h2>Okay, I’ve reviewed the item. Now what?</h2>
    <div>
        <ul>
            <li>
                <p>Now you are eligible to apply for another product in the next month. Remember! One product a month, six products a year. Just undergo the same process, but because you’re already a Woodsammer, you don’t need to fill out an application form again.</p>
            </li>
            <li>
                <p>Just wait for the next month to come and then fill out the Free Product Request Form another time. (For example, you filled out a Product Request Form on April 14th, you may then fill out another one on May 14th)</p>
            </li>
        </ul>
    </div>
</div>
<h2 class="sub-title">
    Apply Now
    <span>If you encounter any difficulties during submitting the application, please contact <a href="mailto:woodsammer@woodsam.com">woodsammer@woodsam.com</a> for help</span>
</h2>
<div class="form">
    <p>The fields marked <font color="red">*</font> are required.</p>
    <h5>If you do not see our email response, please check your Spam folder. We are usually very prompt in responding to Woodsammer applications.
    </h5>
    <fieldset>
        <label class="col-sm-3">First Name:</label>
        <div class="col-sm-9">
            <input name="first_name" type="text">
            <span class="red">*</span>
            <span id="first_name_submit_error" class="ErrorText"></span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Last Name:</label>
        <div class="col-sm-9">
            <input name="last_name" type="text">
            <span class="red">*</span>
            <span id="last_name_submit_error" class="ErrorText"></span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Email Address:</label>
        <div class="col-sm-9">
            <input name="email" type="email">
            <span class="red">*</span>
            <span id="email_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Telephone Number:</label>
        <div class="col-sm-9">
            <input name="phone_number" type="text">
        </div>
    </fieldset>
    <br>
    <h5>Shipping Address:</h5>
    <fieldset>
        <label class="col-sm-3">Address Line 1:</label>
        <div class="col-sm-9">
            <input name="address_line_1" type="text">
            <span class="red">*</span>
            <span id="address_1_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">Address Line 2:</label>
        <div class="col-sm-9">
            <input name="address_line_2" type="text">
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">City:</label>
        <div class="col-sm-9">
            <input name="city" type="text">
            <span class="red">*</span>
            <span id="city_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">State/Province:</label>
        <div class="col-sm-9">
            <input name="state" type="text">
            <span class="red">*</span>
            <span id="state_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <fieldset>
        <label class="col-sm-3">ZIP:</label>
        <div class="col-sm-9">
            <input name="zipcode" type="text">
            <span class="red">*</span>
            <span id="zip_submit_error" class="ErrorText">
            </span>
        </div>
    </fieldset>
    <br>
    <dl>
        <dt>
            <h5>Link to the Amazon.com user profile relevant to your review history:</h5>
        </dt>
        <dd class="tips">
            <ol>
                <li>Log in to your Amazon account.</li>
                <li>Click “Your Account”, which is just to the right of the search box on the Amazon.com homepage.</li>
                <li>In the "Personalization" section, underneath the “Community” tab, click on “Your Public Profile”.</li>
                <li>If you are prompted to log in to your Amazon account, please do so. You must be logged in to do this.</li>
                <li>Copy the URL from this page and paste it into the following box:</li>
            </ol>
            <fieldset>
                <label class="col-sm-3">Your Amazon Profile Link:</label>
                <div class="col-sm-9">
                    <input name="amazon" type="text" placeholder="Exp: http://www.amazon.com/gp/pdp/profile/A3Q4TYJVAM4IRM">
                    <span class="red">*</span>
                    <span id="link_submit_error" class="ErrorText">
                    </span>
                </div>
            </fieldset>
        </dd>
        <dt><h5>If you wish, please share with us your interests:</h5></dt>
        <dd>
            <fieldset>
                <div>
                    <input name="interests" class="checkbox" value="Home Improvement" type="checkbox">
                    <span>Home Improvement</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Gardening" type="checkbox">
                    <span>Gardening</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Sports" type="checkbox">
                    <span>Sports</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Gaming" type="checkbox">
                    <span>Gaming</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Computers" type="checkbox">
                    <span>Computers</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Photography" type="checkbox">
                    <span>Photography</span>
                </div>
                <div>
                    <input name="interests" class="checkbox" value="Pets" type="checkbox">
                    <span>Pets</span>
                </div>
                <div>
                    <input name="interests" class="has-complementary" value="Other" type="checkbox" complementary="1">
                    <span>Other</span>
                    <input id="interest_other" class="complementary" type="text" complementary-id="1">
                </div>
            </fieldset>
        </dd>
        <dt>
            <h5>What you would identify yourself as:</h5>
        </dt>
        <dd>
            <fieldset>
                <input name="identity" class="checkbox" value="Average Consumer" type="checkbox">
                <span>Average Consumer</span>
                <br>
                <input name="identity" class="checkbox" value="Technological Expert Consumer" type="checkbox">
                <span>Technological Expert Consumer</span>
                <br>
                <input name="identity" class="checkbox" value="Home and Gardening Expert" type="checkbox">
                <span>Home and Gardening Expert</span>
                <br>
                <input name="identity" class="checkbox" value="Gamer" type="checkbox">
                <span>Gamer</span>
            </fieldset>
        </dd>
        <dt>
            <h5>Please tell us how you found out about this program:</h5>
        </dt>
        <dd>
            <fieldset>
                <input name="source" class="checkbox" value="facebook" type="checkbox">
                <span>Facebook</span>
                <br>
                <input name="source" class="checkbox" value="twitter" type="checkbox">
                <span>Twitter</span>
                <br>
                <input name="source" class="checkbox" value="product insert card" type="checkbox">
                <span>product insert card</span>
                <br>
                <input name="source" class="checkbox" value="familyorfriend" type="checkbox">
                <span>family/friend</span>
                <br>
                <input name="source" class="checkbox has-complementary" value="other website or blog" type="checkbox" complementary="2">
                <span>other website or blog(which site?)</span>
                <input type="text" id="website_other" class="complementary" complementary-id="2">
            </fieldset>
        </dd>
    </dl>
</div>
<br>
{% endblock %}